<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

{{range .}}
    {{.Date}} {{.Open}} {{.Close}} {{.Volume | printf "%8d"}}<br>
{{end}}

</body>
</html>
